uv.lock
.python-version

audios/*
archive/
utils/ckiptagger
utils/episodes.json

**/__pycache__
**/.ipynb_checkpoints

**/.DS_Store

# -------- frontend --------
# Node modules
node_modules/

# Build outputs
dist/
build/

# Local environment files
.env
.env.local
