{% extends "base.html" %}

{% block title %}Episodes{% endblock %}

{% block content %}
<h1>Episodes</h1>
<table>
    <thead>
        <tr>
            <th>Episode Title</th>
            <th>Keywords</th>
        </tr>
    </thead>
    <tbody>
        {% for episode in episodes %}
        <tr>
            <td>
                <a href="{{ url_for('topics', episode_number=episode.episode_number) }}">{{ episode.title }}</a>
            </td>
            <td>
                <span>{{ episode.keywords | join(', ') }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

